aside{
    width: 320px;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 5px;
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 20px;
    position: fixed;
}

@media (max-width: 1000px){
    aside{
        position: relative;
    }
}

aside strong{
    font-size: 20px;
    text-align: center;
    display: block;
    color: rgb(8, 178, 221);
}

aside form{
    margin-top: 30px;
}

aside form .input-block{
    margin-top: 15px;
}

aside form .input-block label{
    color: dimgrey;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

aside form .input-block input{
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid rgb(156, 154, 154);
}

aside form .input-block textarea{
    margin-top: 7px;
    width: 100%;
    height: 200px;
    font-size: 14px;
    color: rgb(179, 173, 173);
    border: 0;
    border-bottom: 1px solid rgb(202, 200, 200);
    background: rgb(248, 244, 244);
    resize: none;
}

aside form button[type=submit]{
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: #7bc9f7;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}